body{
  Background-color: Cadetblue;
  Color: Black;
  font-family: Arial, Helvetica;
  margin: 5%
}

.exp-header{
  Text-transform: uppercase;
  Border-top: 5px solid;
  
  
}

H1, p {
  Text-align: center; 
}
p{
  Text-transform: uppercase;
}
li{
  Font-size: 75%;
  
}
Img{
  padding-left: 550px 
}
